@import "tailwindcss";

/* html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  } */
 
  @media print {
    html, body, #root {
      display: block !important;
      overflow: visible !important;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      background: white;
    }
  
    #vista-remision-imme {
      break-inside: avoid;
      page-break-inside: avoid;
      page-break-after: auto;
    }
  
    table {
      page-break-inside: auto;
      width: 100%;
    }
  
    tr {
      page-break-inside: avoid;
      break-inside: avoid;
      page-break-after: auto;
    }
  
    thead {
      display: table-header-group;
    }
  
    tfoot {
      display: table-footer-group;
    }
  }
  
  
  


