@import "tailwindcss";

@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: 216mm;
    height: auto;
    overflow: visible !important;
  }

  #vista-remision-imme {
    break-inside: auto !important;
    page-break-inside: auto !important;
  }

  table, tr, td, th {
    break-inside: auto !important;
    page-break-inside: auto !important;
  }

  tr {
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}


  
  
  


